@{
  Layout = "_Layout";
}

@using RecipeBox.Models
@model RecipeBox.Models.Recipe

<h2>@Html.DisplayFor(model => model.RecipeName)</h2>

@if(@Model.RecipeRating != 0)
{
  <p>Recipe Rating: @Html.DisplayFor(model => model.RecipeRating)</p>
}
else
{
  <p>Recipe has not been rated yet.</p>
}

@if(@Model.JoinEntities.Count == 0)
{
  <p>This recipe does not have any category tags yet.</p>
}
else
{
  <h4>This recipe has the following category tags:</h4>
  <ul>
    @foreach(RecipeTag join in Model.JoinEntities)
    {
      <li>@join.Tag.Category</li>
      @using (Html.BeginForm("DeleteJoin", "Recipes"))
      {
        @Html.Hidden("joinId", @join.RecipeTagId)
        <input type="submit" value="Remove category tag from recipe" />
      }
    }
  </ul>
}

<h4>Ingredients:</h4>
<ul>
  <li>@Html.DisplayFor(model => model.Ingredients)</li>
</ul>

<h4>Instructions</h4>
<p>@Html.DisplayFor(model => model.RecipeInstructions)</p>

<p>@Html.ActionLink("Rate recipe", "RateRecipe", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Add a category tag", "AddTag", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
